[[source]]
url = "https://mirrors.163.com/pypi/simple"
verify_ssl = true
name = "pypi"

[packages]
pyquery = "*"
requests = "*"
pillow = "*"
pymysql = "*"
pandas = "*"
lxml = "*"
tensorflow = "*"
numpy = "==1.19.5"
matplotlib = "*"
torch = "*"
torchvision = "*"

[dev-packages]

[requires]
python_version = "3.6"
